@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
    <head>
        <title>PizzaMama</title>
        <link rel="stylesheet" href="~/css/style.css" />
    </head>
    <body class="HomePage">
        <div class="centered">
            <a asp-page="MenuPiz"><img src="~/images/main_logo.png" /></a>
        </div>
    </body>
</html>
